*
{
    padding: 0;
    margin: 0;
}

body
{
    background-image: url('images/tlo_logowanie.jpg');
    background-attachment: fixed;
    /*background-repeat: repeat-x;
    background-color: #64646c;*/
}

#container
{
    width: 1004px;
    margin: 0 auto;
}

#top_of_the_container
{
    border-radius: 20px 20px 0px 0px;
    position: relative;
    margin-top: 10px;
    width:1000px;
    height: 140px;
    background-image: url('images/menu_background.jpg');
}

img.logo
{
    width: 160px;
    height: 150px;
    position: absolute;
    left: 20px;
    top: 0px;
}

#contact_box 
{
    position: absolute;
    right: 40px;
    top: 20px;
    border-bottom: none;
    color: black;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic; 
}

#contact_box a
{
    color: black;
    text-decoration: underline;
    
}

a
{
    text-decoration: none;
}

#contact_box a:hover
{
    color: #515151;
    text-decoration: underline;
    
}

#middle_menu
{
    background-image: url('images/menu_background.jpg');
    width: 1000px;
    height: 32px;
    border-radius: 0px 0px 20px 20px;
}

#middle_menu li
{
    float: left;
    list-style-type: none;
}

#middle_menu li a
{
    border-bottom: none;
    color: #515151;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;  
}

#middle_menu li span.link
{
    display: block;
    margin-top: 7px;
}

#middle_menu #first_level
{
    margin-left: 70px;
}

#middle_menu span.space
{
    display: inline-block;
    margin: 15px 10px 0px 10px;
    color: #515151;
}

#middle_menu li a:hover
{
    color: black;
}

#first_level li .second_level
{
    display: none;
    background-image: url('images/menu_background.jpg');
    border-left: 4px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    opacity: 0.9;
    filter: alpha(opacity=0.9); 
    border-radius: 0px 0px 10px 10px;
}

#first_level li:hover .second_level 
{
    display: block;
    width: 210px;
}

#first_level li .second_level li
{
    width: 150px;
    text-align: left;
    margin-left: 30px;
    border-top: 1px solid #cccccc;
}

#first_level li
{
    position: relative;
}

#first_level li .second_level
{
    position: absolute;
}

#first_level li .second_level li a
{
    display: block;
    width: 150px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Arial,  Tahoma, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}

#first_level li .second_level li a:hover
{
    background-color: #cccccc;
    padding-left: 20px;
    margin-left: -20px;
    padding-right: 20px;
    margin-top: -1px;
    border-top: 1px solid #cccccc;
    color: black;

}

#first_level li .second_level li.first_element
{
    margin-top: 10px;
}

#zawartosc
{
    width: 1000px;
}

#upper_part_of_content
{
    background-image: url('images/gorna_czesc_zawartosci_Easy-Resize.com.jpg');
    width: 1000px;
    height: 17px;
}

#lower_part_of_content
{
    background-image: url('images/dolna_czesc_zawartosci_Easy-Resize.com.jpg');
    width: 1000px;
    height: 31px;
}

#middle_part_of_content
{
    background-image: url('images/srodkowa_czesc_zawartosci_Easy-Resize.com.jpg');
    width: 1000px;
    background-repeat: repeat-y;
}